<form class="jumbotron" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-form-label">
      Email:
      <input type="email" autocomplete="email" formControlName="email" />
    </label>
  </div>
  <div class="form-group">
    <label>
      Password:
      <input
        type="password"
        autocomplete="current-password"
        formControlName="password"
      />
    </label>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">
    Submit
  </button>
</form>
